In [2]:
# Series
import pandas as pd
a = [10,20,30,40,50,60,70]
s1 = pd.Series(a)
print(s1)
print(type(s1))

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
print(s1.index)
print(s1.index.tolist())
print(s1.values)

RangeIndex(start=0, stop=7, step=1)
[0, 1, 2, 3, 4, 5, 6]
[10 20 30 40 50 60 70]

In [11]:
print(s1[0],s1[2])
print(s1[1],s1[4])

10 30
20 50

In [13]:
import numpy as np
a = np.array([11,12,13,14,15,16,17,18])
print(a)
s = pd.Series(a)
print(s)

[11 12 13 14 15 16 17 18]
0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
dtype: int32

In [1]:
# DataFrame
# Dictionary
import pandas as pd
data = {'Name':['Bajarang','Tanish','Shubham','Soham','Sidhu','Ram','Raju'],
    'Score':[85,90,80,89,88,92,82]}
df1 = pd.DataFrame(data)
print(df1)

       Name  Score
0  Bajarang     85
1    Tanish     90
2   Shubham     80
3     Soham     89
4     Sidhu     88
5       Ram     92
6      Raju     82

In [52]:
# List of list

data = [['Delhi','India',1],['Washington','USA',2],['Tokiyo','Japan',3]]
print(data)
df2 = pd.DataFrame(data)
df2.columns = ['Capital','Country','Geocode']
print(df2)

[['Delhi', 'India', 1], ['Washington', 'USA', 2], ['Tokiyo', 'Japan', 3]]
      Capital Country  Geocode
0       Delhi   India        1
1  Washington     USA        2
2      Tokiyo   Japan        3

In [53]:
#  Series

s1 =pd.Series(['Python','Ds','c++','ML','SQL'])
s2 =pd.Series([89,85,92,90,87])
df3 = pd.DataFrame({'Domain':s1,'Marks':s2})
print(df3)

   Domain  Marks
0  Python     89
1      Ds     85
2     c++     92
3      ML     90
4     SQL     87

In [3]:
# Numpy array

import pandas as pd
import numpy as np
sales= np.array([125,100,40,60])
units = np.array([12,10,4,6])
product =np.array(['Tea','Copy','Juice','Milk'])
df4 = pd.DataFrame({'Product':product,'Sales':sales,'Units':units})
print(df4)

  Product  Sales  Units
0     Tea    125     12
1    Copy    100     10
2   Juice     40      4
3    Milk     60      6

In [6]:
df5=pd.DataFrame(df4[['Product']])
print(df5)
print(type(df5))

  Product
0     Tea
1    Copy
2   Juice
3    Milk
<class 'pandas.core.frame.DataFrame'>

In [40]:
df5 = pd.DataFrame(df3[['Product','Sales']])
print(df5)
print(type(df5))

  Product  Sales
0     Tea    125
1    Copy    100
2   Juice     40
3    Milk     60
<class 'pandas.core.frame.DataFrame'>