In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("Top100moststreamed.csv")
df.head(10)

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86
5,Believer,Imagine Dragons,modern rock,2017,125,78,78,-4,8,67,204,6,13,86
6,lovely (with Khalid),Billie Eilish,electropop,2018,115,30,35,-10,10,12,200,93,3,86
7,Circles,Post Malone,dfw rap,2019,120,76,70,-3,9,55,215,19,4,86
8,Shape of You,Ed Sheeran,pop,2017,96,65,83,-3,9,93,234,58,8,85
9,Memories,Maroon 5,pop,2021,91,33,78,-7,8,60,189,84,6,85

In [3]:
df.shape

(100, 14)

In [4]:
df.columns

Index(['title', 'artist', 'top genre', 'year', 'beats.per.minute', 'energy',
       'danceability', 'loudness.dB', 'liveness', 'valance', 'length',
       'acousticness', 'speechiness', 'popularity'],
      dtype='object')

In [9]:
# pivote_table

r1 = pd.pivot_table(data =df,index =['year'],values=['energy','danceability','liveness','valance'])
r1.head(10)

      danceability     energy   liveness    valance
year
1975     41.000000  40.000000  30.000000  22.000000
1995     38.000000  90.000000  19.000000  47.000000
2004     35.000000  91.000000  10.000000  24.000000
2008     69.000000  46.000000  11.000000  72.000000
2012     53.333333  80.333333  34.333333  50.666667
2013     51.500000  57.250000  13.000000  41.750000
2014     59.166667  56.333333  17.166667  33.000000
2015     71.384615  65.076923  15.615385  53.615385
2016     67.750000  63.687500  16.187500  50.312500
2017     71.333333  64.666667  13.583333  52.833333

In [12]:
r1 =df[df['year']==2015]
mean= r1[['danceability','energy','liveness','valance']].mean()
mean

danceability    71.384615
energy          65.076923
liveness        15.615385
valance         53.615385
dtype: float64

In [9]:
r1 = pd.pivot_table(data =df,columns =['year'],values=['energy','length','popularity'],aggfunc ='max')
r1.head(10)

year,1975,1995,2004,2008,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
energy,40,90,91,46,92,78,74,81,87,82,86,82,79,83
length,354,259,223,242,258,270,321,270,245,263,313,230,200,189
popularity,81,77,81,80,82,84,83,83,84,86,86,88,91,88

In [17]:
r1 =df [df['year']==2013]
r1[['energy','length','popularity']].max()

energy         78
length        270
popularity     84
dtype: int64

In [21]:
r1 = pd.pivot_table(data =df,index =['year','top genre'],values=['energy','liveness','length','popularity','danceability'],aggfunc ='min')
r1.head(10)

                       danceability  energy  length  liveness  popularity
year top genre
1975 classic rock                41      40     354        30          81
1995 beatlesque                  38      90     259        19          77
2004 alternative rock            35      91     223        10          81
2008 acoustic pop                69      46     242        11          80
2012 modern rock                 45      71     178        27          76
     pop rap                     64      92     258         9          82
2013 dance pop                   53      71     247        12          82
     folk-pop                    45      54     253        11          72
     neo soul                    42      26     270        13          84
2014 dance pop                   42      42     173        11          81

In [23]:
r1 =df[df['top genre']=='australian dance']
r1[['energy','liveness','length','popularity','danceability']].min()

energy           70
liveness          9
length          212
popularity       75
danceability     63
dtype: int64

In [25]:
# apply

df[['energy','liveness','length','popularity']].apply(np.max)

energy         92
liveness       79
length        354
popularity     91
dtype: int64

In [31]:
min_value = df[['popularity']].min()
min_value
max_values =df[['popularity']].max()
max_values

popularity    91
dtype: int64

In [32]:
df[['energy','liveness','length','popularity']].apply(np.min)

energy         11
liveness        3
length        119
popularity     53
dtype: int64

In [14]:
def pop_bins(x):
    if x<74:
        return 'Low'
    elif x>=74 and x<83:
        return 'medium'
    else:
        return 'High'

In [18]:
df['Popularity_bins']= df['popularity'].apply(pop_bins)
df[['popularity','Popularity_bins']].sample(10)

    popularity Popularity_bins
64          80          medium
24          83            High
74          79          medium
92          70             Low
81          77          medium
62          80          medium
97          66             Low
14          84            High
17          84            High
41          81          medium

In [40]:
df['Popularity_bins'].value_counts()

Popularity_bins
medium    60
High      28
Low       12
Name: count, dtype: int64

In [24]:
# where

res =df['Popularity_bins'].where(df['Popularity_bins']!='medium','med')
res.head(12)

0     High
1     High
2     High
3     High
4     High
5     High
6     High
7     High
8     High
9     High
10    High
11    High
Name: Popularity_bins, dtype: object